.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}                  

.key-wrapper {
width: 100%
}
.results {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 1600px;
  font-size: 2rem; 
  align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: black;

}
.result-header {
 width: 1200px;
 height: 250px;
 font-size: 90px;
 border: 1px solid black;
 border-radius: 2.5rem;
 padding: 5px;
 margin-left: 100px;
 margin-right: 100px;
 background-color: lightgrey;
 text-align: center;
}
.loser {
  color: red;
}
.winner {
  color: green;
}
