.word-container {
    display: flex;
    gap: .25em;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}
.letter-box {
    border-bottom: .1em solid black;
}